# dependencies
frontend/node_modules
# package-lock.json should be commited to the repo.
# https://docs.npmjs.com/cli/v10/configuring-npm/package-lock-json

# misc
frontend/.env
frontend/.env.development

backend/.env
backend/.auth
backend/.venv




backend/backend/staticfiles
backend/frontend/serve
.env
