DJANGO_SETTINGS_MODULE=backend.settings.production

# must be changed to a random string in production
DJANGO_SECRET_KEY='change-me'

# comma-separated list of hostnames that the server will accept
ALLOWED_HOSTS='authoring.soundscape.services'

# Comma-separated list of CSRF trusted origin URLs
CSRF_TRUSTED_ORIGINS='https://authoring.soundscape.services'

# user and group that the server runs as
PUID=1000
PGID=1000

# localhost port to listen on.
LOCALHOST_PORT=8000

# directory for uploaded files
FILES_DIR=~/share.soundscape.services
# Postgresql settings
PSQL_DB_NAME=postgres
PSQL_DB_PASS=postgres
PSQL_DB_HOST=postgres
PSQL_DB_USER=postgres
PSQL_DB_PORT=5432
