.sign_in_wrapper {
    width: 100%; /* Full width */
    height: 100vh; /* Full height of the viewport */
    background-color: white;
}

.sign_up_wrapper {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.centered_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 10px;
}

.field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    align-self: center;
}

.button_container {
    display: flex;
    width: 99.5%;
}

.button_sign_in {
    background-color: #253d62;
    border-radius: 3px;
    padding: 2.5% 5%;
    color: white;
}

.button_login {
    background-color: #253d62;
    border-radius: 3px;
    padding: 2.5% 5%;
    color: white;
    margin-right: 5px;
    width: 50%;
}

.error {
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: bold;
    padding: 5px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
}